name: Django CI + Docker

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  build-test-and-docker:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout code
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Setup Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # 3. Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-django djangorestframework

    # 4. Set Django settings
    - name: Set Django settings module
      run: echo "DJANGO_SETTINGS_MODULE=config.settings" >> $GITHUB_ENV

    # 5. Run tests
    - name: Run tests
      working-directory: config
      run: pytest

    # 6. Login to Docker Hub (ONLY on push to main/master)
    - name: Login to Docker Hub
      if: github.event_name == 'push'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 7. Build Docker image
    - name: Build Docker image
      if: github.event_name == 'push'
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/phishing-api-ml:latest .

    # 8. Push Docker image to Docker Hub
    - name: Push Docker image
      if: github.event_name == 'push'
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/phishing-api-ml:latest
